<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">
            <strong>Menu</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Etablissement
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Mot du promoteur</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Organigramme</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Projet d'établissement</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="#">Nos Résultats</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Nos Partenaires</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            1er Cycle
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Mot du directeur</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Projet d'école</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">structure</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Programmes</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="#">Projets</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Règlement Intérieur</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                2nd Cycle
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">Vie scolaire</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Projet d'école</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">structure</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Programmes</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Projets</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Dévoirs en commun</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Scolarité
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">Inscription</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Règlement financier</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Manuels et fournitures</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Secretariat</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="#">Infirmerie</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Horaires</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Calendrier scolaire</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Vie d'établissement
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="#">A.P.E</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">C.V.C.</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Conseil d'établissement</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Conseil d'école</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider"></li>
                                            <li>
                                                <a class="dropdown-item" href="#">A.S.</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Théâtres</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Correspondances</a>
                                            </li>
                                        </ul>
                                    </li>
                                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <li class="nav-item">
                                            <a class="nav-link active text-white" aria-current="page" href="{{ path('app_login') }}">
                                                <strong>Se Connecter</strong>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-white" href="{{ path('app_register') }}">
                                                <strong>S'inscrire</strong>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link active text-white" aria-current="page" href="{{ path('app_blog') }}">
                                                <strong>Blog</strong>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active text-white" aria-current="page" href="#">
                                                <strong>Mon compte</strong>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link text-white" href="{{ path('app_logout') }}">
                                                <strong>Se déconnecter</strong>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </li>
