{% extends '@EasyAdmin/layout.html.twig' %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-6 fw-semibold fst-italic">Administrateur</h1>
        <p class="lead">Bienvenue dans l'interface d'administration du site Walanda</p>
        {# <a href="">blog</a> #}
    </div>
{% endblock %}
